<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone Simulator</key>
	<dict>
		<key>talkTime2G</key>
		<integer>12</integer>
		<key>talkTime3G</key>
		<integer>5</integer>
		<key>standbyTime</key>
		<integer>300</integer>
		<key>internet3G</key>
		<integer>5</integer>
		<key>internetWifi</key>
		<integer>9</integer>
		<key>videoTime</key>
		<integer>10</integer>
		<key>audioTime</key>
		<integer>30</integer>
	</dict>
	<key>iPod Touch 4G</key>
	<dict>
		<key>talkTime2G</key>
		<integer>0</integer>
		<key>talkTime3G</key>
		<integer>0</integer>
		<key>standbyTime</key>
		<integer>300</integer>
		<key>internet3G</key>
		<integer>0</integer>
		<key>internetWifi</key>
		<integer>6</integer>
		<key>videoTime</key>
		<integer>7</integer>
		<key>audioTime</key>
		<integer>40</integer>
	</dict>
	<key>iPod Touch 3G</key>
	<dict>
		<key>talkTime2G</key>
		<integer>0</integer>
		<key>talkTime3G</key>
		<integer>0</integer>
		<key>standbyTime</key>
		<integer>300</integer>
		<key>internet3G</key>
		<integer>0</integer>
		<key>internetWifi</key>
		<integer>6</integer>
		<key>videoTime</key>
		<integer>6</integer>
		<key>audioTime</key>
		<integer>30</integer>
	</dict>
	<key>iPod Touch 2G</key>
	<dict>
		<key>talkTime2G</key>
		<integer>0</integer>
		<key>talkTime3G</key>
		<integer>0</integer>
		<key>standbyTime</key>
		<integer>300</integer>
		<key>internet3G</key>
		<integer>0</integer>
		<key>internetWifi</key>
		<integer>6</integer>
		<key>videoTime</key>
		<integer>6</integer>
		<key>audioTime</key>
		<integer>36</integer>
	</dict>
	<key>iPod Touch 1G</key>
	<dict>
		<key>talkTime2G</key>
		<integer>0</integer>
		<key>talkTime3G</key>
		<integer>0</integer>
		<key>standbyTime</key>
		<integer>300</integer>
		<key>internet3G</key>
		<integer>0</integer>
		<key>internetWifi</key>
		<integer>6</integer>
		<key>videoTime</key>
		<integer>5</integer>
		<key>audioTime</key>
		<integer>22</integer>
	</dict>
	<key>iPhone 4</key>
	<dict>
		<key>talkTime2G</key>
		<integer>14</integer>
		<key>talkTime3G</key>
		<integer>7</integer>
		<key>standbyTime</key>
		<integer>300</integer>
		<key>internet3G</key>
		<integer>6</integer>
		<key>internetWifi</key>
		<integer>10</integer>
		<key>videoTime</key>
		<integer>10</integer>
		<key>audioTime</key>
		<integer>40</integer>
	</dict>
	<key>iPad</key>
	<dict>
		<key>talkTime2G</key>
		<integer>0</integer>
		<key>talkTime3G</key>
		<integer>0</integer>
		<key>standbyTime</key>
		<integer>720</integer>
		<key>internet3G</key>
		<integer>9</integer>
		<key>internetWifi</key>
		<integer>10</integer>
		<key>videoTime</key>
		<integer>10</integer>
		<key>audioTime</key>
		<integer>40</integer>
	</dict>
	<key>iPhone 3GS</key>
	<dict>
		<key>talkTime2G</key>
		<integer>12</integer>
		<key>talkTime3G</key>
		<integer>5</integer>
		<key>standbyTime</key>
		<integer>300</integer>
		<key>internet3G</key>
		<integer>5</integer>
		<key>internetWifi</key>
		<integer>9</integer>
		<key>videoTime</key>
		<integer>10</integer>
		<key>audioTime</key>
		<integer>30</integer>
	</dict>
	<key>iPhone 3G</key>
	<dict>
		<key>talkTime2G</key>
		<integer>10</integer>
		<key>talkTime3G</key>
		<integer>5</integer>
		<key>standbyTime</key>
		<integer>300</integer>
		<key>internet3G</key>
		<integer>5</integer>
		<key>internetWifi</key>
		<integer>6</integer>
		<key>videoTime</key>
		<integer>7</integer>
		<key>audioTime</key>
		<integer>24</integer>
	</dict>
	<key>iPhone 1G</key>
	<dict>
		<key>talkTime2G</key>
		<integer>8</integer>
		<key>talkTime3G</key>
		<integer>0</integer>
		<key>standbyTime</key>
		<integer>250</integer>
		<key>internet3G</key>
		<integer>0</integer>
		<key>internetWifi</key>
		<integer>6</integer>
		<key>videoTime</key>
		<integer>7</integer>
		<key>audioTime</key>
		<integer>24</integer>
	</dict>
</dict>
</plist>
